# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 4425b4e37421694f769b8a28bfb193cf2e2f10be5abed78cc2bb2023f54768ea06ccd0b499d63c5bbdefe33ac3e777278806c2d911fdc8961f2fa20a51f0e9dc

test:
  secret_key_base: 4418b8d5c4f4a215beb95f9fba0cc2099f7cd97c07094bfcce9bcce9f55b1938a8b80f00fbcd84a8e3e9dbb78260dea32c43a6a6a4bc3296bae16dbc1fa19cfb

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
